<mat-toolbar color="primary">
  <mat-icon>phonelink</mat-icon>
  <span class="title">Sasika Mobiles</span> <!-- Title in left top corner -->
  <span class="center-spacer"></span> <!-- Spacer to center align Home, About, and Contact -->
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/about">About</a>
  <a mat-button routerLink="/contact">Contact</a>
  <span class="fill-spacer"></span> <!-- Spacer to push Login and Signup to the right -->
  <a mat-button routerLink="/user/login">Login</a>
  <a mat-button routerLink="/user/signup">Signup</a>
</mat-toolbar>

<router-outlet></router-outlet>



